body{
    background: yellowgreen;
}

.button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 6px;
    cursor: pointer;
    background-color: limegreen;
}

.container{
    position: relative;
    left: 0px;
    padding-top: 10%;
    right: 0px;
    background: yellowgreen;
    display: flex;
    flex-direction: column; 
    align-content: space-between;
}

.cursele-viitoare{
    border: solid;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: gray;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title{
    float: left;
    font: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 30px;
    padding-left: 6px;
}

.index-header{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background: olivedrab;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-image{
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
    width: 10%;
    height: auto;
    justify-content: flex-start;
}

.main{
    background-color: ivory;
    padding-bottom: 22px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.main-title{
    text-align: center;
}

.register-header{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background: olivedrab;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.registry-form{
    border: black;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}