.container{
    background-color: yellowgreen;
    float: inline-end
}

.my-header{
    width: 100%;
    height: 13%;
    float: inline-start;
    background-color: olivedrab;
}

.header-title{
    display: flex;
    float: left;
    font: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}